@import url("https://fonts.googleapis.com/css2?family=Slackey&family=Yellowtail&family=Roboto+Slab&display=swap");
// app global css in SCSS form
* {
  // font-family: "Yellowtail", cursive;
  font-family: "Slackey", cursive;
  // font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  text-shadow: 3px 3px 0 $lightbg, -1px -1px 0 $lightbg, 1px -1px 0 $lightbg,
    -1px 1px 0 $lightbg, 1px 1px 0 $lightbg;
}

body {
  background-color: $primary;
  min-height: 100vh;
  // padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

main {
  min-height: 1rem;
}

.normal {
  font-family: "Roboto Slab", serif;
  font-size: 0.75rem;
  text-shadow: none;
}

.text_italic {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-size: 0.75rem;
  text-shadow: none;
}

.text_normal {
  font-family: "Roboto Slab", serif;
  font-size: 0.75rem;
  text-shadow: none;
}

.page {
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 90%;
  max-height: 90%;
  outline: 1px $lightbg solid;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 95%;

  align-self: center;
}

.who {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // min-width: 20%;

  align-items: center;
}

div.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  border: 1px $lightbg solid;
  border-radius: 1rem;
  margin: 1rem;
  background-color: $primary;
}

img.avatar {
  max-width: 10rem;
  border-radius: 1rem;
  border: 1px $lightbg solid;
  transition: transform 0.7s ease-in-out;
  z-index: -1;
}

img.avatar:hover {
  transform: rotate(30deg);
}

.avatar_icon_left {
  position: relative;
  width: 4rem;
  z-index: 1;
  margin-right: -1.5rem;
  margin-bottom: 7rem;
  filter: drop-shadow(3px 3px 0 $lightbg);
}

.avatar_icon_right {
  position: relative;
  width: 4rem;
  z-index: 1;
  margin-left: -1.5rem;
  margin-bottom: 0rem;
  filter: drop-shadow(3px 3px 0 $lightbg);
}

ul.resume {
  margin-top: 0;
}

.skillsContainer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  // border: 1px black solid;
}

.skillContainer {
  min-width: 40%;
  // border: 1px black solid;
  margin: 0.25rem;
}

span.resume {
  font-family: "Roboto Slab", serif;
  font-size: 0.6rem;
  text-shadow: none;
}

.resume_header {
  border-radius: 1rem;
  border: 1px $lightbg solid;
  margin: 1rem;
  background-color: $primary;
  width: 20rem;
}

.resume_content {
  background-color: $lightbg;
  color: $accent;
  // list-style: none;
}

.skillContainer UL > LI {
  // display: inline-block;
  margin: 0rem 0.5rem;
  list-style: url("../../public/imgs/rocket.svg");
}

div.ul-container {
  margin: 0.5rem 0.5rem;
  padding: 0 0 0.2rem 0;
  list-style: url("../../public/imgs/rocket.svg");
}

.dot {
  list-style: circle;
}

.skillContainer LI:first-child:before {
  // display: inline-block;
  // margin: 0rem 0.5rem;
  list-style: url("../../public/imgs/rocket.svg");
}

ul.subSkill {
  margin: -0.5rem 0 0 -0.75rem;
  // width: 70%;
}

.resumeNormal {
  text-decoration: none;
  color: $primary;
  font-size: large;
  font-family: "Roboto Slab", serif;
  text-shadow: none;
  padding: 0.25rem;
  margin: -0.25rem;
  border-radius: 0.5rem;
}

a.resume {
  text-decoration: none;
  color: $primary;
  font-size: large;
  font-family: "Roboto Slab", serif;
  text-shadow: none;
  padding: 0.25rem;
  margin: -0.25rem;
  border-radius: 0.5rem;
}

a.resume:hover {
  text-decoration: none;
  color: $lightbg;
  background-color: $primary;
  font-size: large;
  font-family: "Roboto Slab", serif;
}

// .resume_text {
//   font-size: large;
// }

h1.banner {
  padding: 0;
  display: inline;
  font-family: "Slackey", cursive;
  font-size: 2rem;
  color: $info;
  -webkit-text-stroke: 1px $dark;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

div.intro img {
  height: 4rem;
  margin: 1rem;
  filter: drop-shadow(3px 3px 0 $dark);
}

p.intro {
  // padding: 0rem 5rem 0 0;
  // display: flex;
  // flex-direction: row;
  font-size: large;
  color: $text;
  margin: 1rem;
}

a.intro {
  // padding: 0rem 5rem 0 0;
  // text-decoration: none;
  text-shadow: none;
  font-size: inherit;
  // display: inline;
  color: $text;
  font-family: inherit; //"Roboto Slab", serif;
}

a.intro:hover {
  // padding: 0rem 5rem 0 0;
  // text-decoration: none;
  text-shadow: none;
  // display: inline;
  color: $accent;

  font-family: "Roboto Slab", serif;
}

.slackey_emphisis {
  font-family: "Slackey", cursive;
  font-size: 2rem;
  color: $accent;
  -webkit-text-stroke: 1px $dark;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.cursive_emphisis {
  font-family: "Yellowtail", cursive;
  font-size: 3rem;
  color: $secondary;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

div.social {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
  font-family: "Yellowtail", cursive;
  font-size: 1rem;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;

  // background-color: $accent;
  color: $primary;
  // border: 1px $lightbg solid;
  // min-width: 50%;

  // align-self: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: space-between;
  flex-flow: row wrap;

  font-size: 1.25rem;
  color: $primary;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;

  background-color: $accent;
  color: $primary;
  border-radius: 1rem;
  width: 95%;

  align-self: center;
  padding: 0; //1rem;
  border: 1px $lightbg solid;
  overflow: hidden;
}

div.social {
  margin: 0.2rem 0.5rem;
}

div.social a {
  text-decoration: none;
  color: $primary;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

img.social {
  width: 1.5rem;
  margin: 0.5rem 0.5rem;
  filter: invert(45%) sepia(27%) saturate(1276%) hue-rotate(142deg)
    brightness(92%) contrast(86%) drop-shadow(3px 3px 0 #000);
}

img.social:hover {
  width: 1.5rem;
  margin: 0.5rem 0.5rem;
  filter: invert(100%) sepia(2%) saturate(6092%) hue-rotate(326deg)
    brightness(103%) contrast(100%) drop-shadow(3px 3px 0 #000);
}

div.copyright {
  // display: flex;
  // justify-content: center;
  // flex-direction: row;
  margin: 0.7rem 1rem;
  // align-self: center;
  // padding: 0 1rem 0.5rem 1rem;
  // border: 1px black solid;
  // align-self: flex-start;
}

p.copyright {
  font-size: 1.2rem;
  color: $primary;
  margin: auto;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;

  // align-self: center;
  // margin: 0 0 -1rem 0;
}

.q-page {
  min-height: 99% !important;
}

@media only screen and (max-width: 1150px) {
  html,
  body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }

  * {
    font-size: 1rem;
  }

  .page {
    margin: 0.5rem;
    padding: 0.5rem;
    // border-radius: 1rem;
    min-width: 90%;
    max-height: 98%;
    outline: 1px $lightbg solid;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .avatar_icon_left {
    display: none;
  }

  .avatar_icon_right {
    display: none;
  }

  // div.avatarDiv {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }

  .intro img {
    display: none;
  }

  img.avatar {
    max-width: 8rem;
    border-radius: 1rem;
    border: 1px $lightbg solid;
    transition: transform 0.7s ease-in-out;
    z-index: -1;
  }

  .slackey_emphisis {
    font-family: "Slackey", cursive;
    font-size: 1.5rem;
    color: $accent;
    -webkit-text-stroke: 1px $dark;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-self: center;
  }

  div.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .normal {
    font-size: 1rem;
  }

  span.resume {
    font-size: large;
  }

  .exp_item {
    font-size: 1rem;
  }

  .resume_header {
    margin: 0.5rem auto;
    width: 95%;
  }

  .skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .skillContainer UL {
    margin: 0.25rem;
  }

  .location {
    display: none;
  }

  .resume_header {
    // font-size: 0.5rem;
    border-radius: 1rem;
    border: 1px $lightbg solid;
    // margin: 1rem;
    background-color: $primary;
    width: 17rem;
  }

  .resume_header_inner {
    font-size: 0.5rem;
  }

  div.footer {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  div.social {
    justify-content: center;
    justify-items: center;
  }
  div.copyright {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-self: center;
  }
}
