// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #14aedb;
$secondary: #f0ca2d;
$accent: #f67d54;

$dark: #565656;
$dark-page: #121212;

$positive: #0ebe25;
$negative: #c10015;
$info: #d1f295;
$warning: #f0ca2d;
